@using Rocketcore.Search
@using Fortis.Search
@using Sitecore.ContentSearch.SearchTypes
@{
	var results = new List<IItemWrapper>();
	var searchManager = DependencyResolver.Current.GetService<ISearchManager>();
	var itemSearchFactory = DependencyResolver.Current.GetService<IItemSearchFactory>();
	SearchResults<SearchResultItem> scQueryableResults = null;
	IEnumerable<IContentPage> queryableResults = null;
	SearchResults<IItemWrapper> searchResults = null;
	IEnumerable<ITag> templateResults = null;

	using (var searchContext = searchManager.SearchContext)
	{
		var scQueryable = searchContext.GetQueryable<SearchResultItem>();

		scQueryableResults = scQueryable.Where(item => item.Name == "Home").GetResults();

		var queryable = itemSearchFactory.Search<IContentPage>(searchContext);

		var ids = new List<Guid> { new Guid("{AB1B5DC2-B122-48AE-9D42-C3B924FCB8EF}"), new Guid("{0C414818-0EE0-4826-B398-9112876DE7CD}") };
		queryableResults = queryable.ContainsOr(item => item.AggregatedTags, ids).ToList();
		//queryableResults = queryable.ToList();

		var templatesQueryable = itemSearchFactory.Search<ITag>(searchContext);

		//homePageResults = homePageQueryable.Where(item => item.Name == "Home").ToList();
		templateResults = templatesQueryable.ToList();

		//var searchResultsQueryable = itemSearchFactory.Search<IItemWrapper>(searchContext);

		//searchResults = searchResultsQueryable.Where(item => item.Name == "Home").GetResults();

<h1>Search Test</h1>
<hr />
<h2>scQueryableResults Results</h2>
<ul>
	@{
		if (scQueryableResults != null)
		{
			foreach (var result in scQueryableResults)
			{
				<li>@result.Document.Name | @result.Document.Path</li>
			}
		}
		else
		{
			<li>Object is null</li>
		}
	}
</ul>
<hr />
	<h2>queryableResults Results</h2>
	<ul>
		@{
		if (queryableResults != null)
		{
			foreach (var result in queryableResults)
			{
				<li>@result.Name | @result.ItemLocation</li>
			}
		}
		else
		{
			<li>Object is null</li>
		}
		}
	</ul>
	<hr />
	<h2>templateResults Results</h2>
	<ul>
		@{
		if (templateResults != null)
		{
			foreach (var result in templateResults)
			{
				<li>@result.Name | @result.ItemLocation</li>
			}
		}
		else
		{
			<li>Object is null</li>
		}
		}
	</ul>
	<hr />
	<h2>searchResults Results</h2>
	<ul>
		@{
		if (searchResults != null)
		{
			foreach (var result in searchResults)
			{
				<li>@result.Document.Name | @result.Document.ItemLocation</li>
			}
		}
		else
		{
			<li>Object is null</li>
		}
		}
	</ul>
	}
}